


<div class="container mt center-block">
  <div class="row">
    <div class="col-sm">

        <div>

              <img class="changecursoron zoom" style="width: 100%; width: 100px; height: 100px"  src = "/../assets/img/off.png" (click)="onStart()" *ngIf="isOn_one == false">
              
              <img class="changecursoron zoom" style="width: 100%; width: 100px; height: 100px"  src = "/../assets/img/on.png" (click)="onStart()" *ngIf="isOn_one == true">

        
        </div>
        
        Lampe 1
    </div>

    <div class="col-sm">

        <div>

            <img class="changecursoron zoom" style="width: 100%; width: 100px; height: 100px"  src = "/../assets/img/off.png" (click)="onStart()" *ngIf="isOn_two == false">
        
            <img class="changecursoron zoom" style="width: 100%; width: 100px; height: 100px"  src = "/../assets/img/on.png" (click)="onStart()" *ngIf="isOn_two == true">
        
        </div>
        
        Lampe 2
    </div>

    <div class="col-sm">

        <div>

            <img class="changecursoron zoom" style="width: 100%; width: 100px; height: 100px"  src = "/../assets/img/off.png" (click)="onStart()" *ngIf="isOn_three == false">
        
            <img class="changecursoron zoom" style="width: 100%; width: 100px; height: 100px"  src = "/../assets/img/on.png" (click)="onStart()" *ngIf="isOn_three == true">
        
        </div>
        
        Lampe 3
    </div>

    <div class="col-sm">

        <div>

            <img class="changecursoron zoom" style="width: 100%; width: 100px; height: 100px"  src = "/../assets/img/off.png" (click)="onStart()" *ngIf="isOn_four == false">
        
            <img class="changecursoron zoom" style="width: 100%; width: 100px; height: 100px"  src = "/../assets/img/on.png" (click)="onStart()" *ngIf="isOn_four == true">
        
        </div>
        
        Lampe 4
    </div>

  </div>
</div>


