


<div class="container mt center-block">
  <div class="row">
    <div class="col-sm">

        <div>

              <img id="1" class="changecursoron zoom" style="width: 100%; width: 100px; height: 100px"  src = "/../assets/img/off.png" (click)="onStart(1)" *ngIf="isOn_one == false">
              
              <img id="1" class="changecursoron zoom" style="width: 100%; width: 100px; height: 100px"  src = "/../assets/img/on.png" (click)="onStart(1)" *ngIf="isOn_one == true">

        
        </div>
        
        Lampe 1
    </div>

    <div class="col-sm">

        <div>

            <img id="2" class="changecursoron zoom" style="width: 100%; width: 100px; height: 100px"  src = "/../assets/img/off.png" (click)="onStart(2)" *ngIf="isOn_two == false">
        
            <img id="2" class="changecursoron zoom" style="width: 100%; width: 100px; height: 100px"  src = "/../assets/img/on.png" (click)="onStart(2)" *ngIf="isOn_two == true">
        
        </div>
        
        Lampe 2
    </div>

    <div class="col-sm">

        <div>

            <img id="3" class="changecursoron zoom" style="width: 100%; width: 100px; height: 100px"  src = "/../assets/img/off.png" (click)="onStart(3)" *ngIf="isOn_three == false">
        
            <img id="3" class="changecursoron zoom" style="width: 100%; width: 100px; height: 100px"  src = "/../assets/img/on.png" (click)="onStart(3)" *ngIf="isOn_three == true">
        
        </div>
        
        Lampe 3
    </div>

    <div class="col-sm">

        <div>

            <img id="4" class="changecursoron zoom" style="width: 100%; width: 100px; height: 100px"  src = "/../assets/img/off.png" (click)="onStart(4)" *ngIf="isOn_four == false">
        
            <img id="4" class="changecursoron zoom" style="width: 100%; width: 100px; height: 100px"  src = "/../assets/img/on.png" (click)="onStart(4)" *ngIf="isOn_four == true">
        
        </div>
        
        Lampe 4
    </div>

  </div>
</div>


