<app-header></app-header>

<div class="image">
       

<div class=" center-block">
  <app-connection></app-connection>
</div>

</div>



<div class="container mp">
  <div class="row">
    <div class="col-sm center-block">
      <app-start-chase></app-start-chase>
    </div>
    <div class="col-sm center-block">
      <app-speed-chase></app-speed-chase>
    </div>
    <div class="col-sm center-block">
      <app-order-chase></app-order-chase>
    </div>
    <div class="col-sm center-block">
      <app-disconnect></app-disconnect>
    </div>
  </div>
</div>

<div class="container mt center-block">    
    <app-lampe></app-lampe>
</div>

<br>
<br>

<!-- <div>
  <label class="center-block" for="customRange2">Selectionner vitesse</label>
  <input type="range" class="custom-range" min="0" max="10" id="customRange2">
  <h2></h2>
</div> -->

<div class="center-block">
     
      <mat-card class="result">
        <mat-card-content>      
          <mat-slider
              class="example-margin"
              [disabled]="disabled"
              [invert]="invert"
              [max]="max"
              [min]="min"
              [step]="step"
              [thumbLabel]="thumbLabel"
              [tickInterval]="tickInterval"
              [(ngModel)]="value"
              [vertical]="vertical">
          </mat-slider>

          <button mat-stroked-button (click)="onTest()">Speed (ms)</button>
          
            <p class="text" style="font-weight:bold">
             Value : {{value}}
            </p>
                   

        </mat-card-content>
      </mat-card>

      

</div>



<div class="footer">
  <app-footer></app-footer>
</div>


