<app-header></app-header>

<div class="image">

  <!-- <div class=" center-block">
    <app-ip-address></app-ip-address>
  </div> -->

<div class=" center-block">
  <app-connection></app-connection>
</div>

</div>

<!-- <app-dialog-overview-example></app-dialog-overview-example> -->



<div class="container mp">
  <div class="row">
    <div class="col-sm center-block">
      <app-start-chase></app-start-chase>
    </div>
    <div class="col-sm center-block">
      <app-disconnect></app-disconnect>
    </div>
  </div>
</div>

<div class="container mt center-block">
    <app-lampe></app-lampe>
</div>



<!-- <div>
  <label class="center-block" for="customRange2">Selectionner vitesse</label>
  <input type="range" class="custom-range" min="0" max="10" id="customRange2">
  <h2></h2>
</div> -->

<div class="container mp">
  <div class="row">
    <div class="col-sm center-block">

        <div class="center-block">

            <mat-card class="result" style="height: 100px;">
              <mat-card-content>
                <mat-slider
                    class="example-margin"
                    [disabled]="disabled"
                    [invert]="invert"
                    [max]="max"
                    [min]="min"
                    [step]="step"
                    [thumbLabel]="thumbLabel"
                    [tickInterval]="tickInterval"
                    [(ngModel)]="value"
                    [vertical]="vertical">
                </mat-slider>

                <button mat-stroked-button (click)="onSpeed()">Speed</button>

                  <p class="text" style="font-weight:bold">
                   Value : {{value}} ms
                  </p>


              </mat-card-content>
            </mat-card>



      </div>


    </div>

    <div class="col-sm center-block">
        <mat-card class="result" style="height: 100px;">
            <mat-card-content>

              <div>
                  <img class="changecursoron zoom" style="width: 100%; width: 60px; height: 60px"  src = "/../assets/img/left_on.png" *ngIf="sens == false" (click)="onSens()">
                  <img class="changecursoron" style="width: 100%; width: 60px; height: 60px"  src = "/../assets/img/left_off.png" *ngIf="sens == true">


                  <img class="changecursoron zoom" style="width: 100%; width: 60px; height: 60px"  src = "/../assets/img/right_on.png" *ngIf="sens == true" (click)="onSens()">
                  <img class="changecursoron" style="width: 100%; width: 60px; height: 60px"  src = "/../assets/img/right_off.png" *ngIf="sens == false">

              </div>

              <div *ngIf="sens == false">
                A l'endroit
              </div>

              <div *ngIf="sens == true">
                  A l'envers
                </div>






        <br>


      </mat-card-content>
    </mat-card>



    </div>

  </div>
</div>








<div class="footer">
  <app-footer></app-footer>
</div>
