// Class
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  }


  .mt {
    margin-top: 1%;
}

.mp {
  margin-top: 2%;
}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .image{
    height:15em; background-size:cover; width:auto;
    background-image:url('/../assets/img/tabf.jpeg');
    background-position:50% 50%;

  }

  mat-slider {
    width: 300px;
  }

  .example-h2 {
    margin: 10px;
  }

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .example-margin {
    margin: 10px;
  }

  .mat-slider-horizontal {
    width: 300px;
  }

  .mat-slider-vertical {
    height: 300px;
  }

  .text { color: #000000; }


.changecursoron{
  cursor: pointer;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.ng-invalid  { border: 1px solid red; }

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
