.spinner-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 998;
    app-spinner {
        width: 6rem;
        height: 6rem;
    }
}

// Class
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  }

  .vertical-center {
    margin-top: 100;
    position: absolute;
    top: 50%;

  }

  .mt {
    margin-top: 2%;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .div {
    height: 125px;
    width: 500px;
  }

  .back {
    background: #D8D8D8
  }

  .black{
    background: #0000
  }

  .opacity{
    opacity: 0.80;
  }
  