<!-- <form class="example-form" [formGroup]="ipGroup">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="0.0.0.0" [formControlName]="emailFormControl" ng-model="ip"
             [errorStateMatcher]="matcher">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid IP address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        IP Address is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form> -->

<div class="div container">
  <mat-card class="back opacity">



    <form [formGroup]="knxGroup">
      <div fxLayout="row" fxLayout.lt-sm="column">

        <div fxFlex="25">
          <p>Enter IP Address</p>
        </div>

        <div fxFlex.gt-sm="100" fxFlex="25">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="0.0.0.0" [(ngModel)]="inputIpKnx" formControlName="inputIpKnxControl" required>
          </mat-form-field>
        </div>
      </div>

      <ng-template matStepLabel>Paramètrage Serveur</ng-template>

    </form>
  </mat-card>
</div>